* {
  margin:0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html{
  background-color: #f4f5f5;
}

header {
  display:flex;
  position: sticky;
  justify-content: flex-end;
  align-items: center;
  padding:20px 50px;
  box-shadow: 0 1px 8px #ddd
}

header li {
  display: inline-block;
  list-style: none;
  padding: 0 20px;
}

#nav-title {
  margin-right:auto;
  font-size: 1.5em;
}

header a {
  text-decoration: none;
  color: #555;
  transition: all 0.3s ease 0s;
}

header a:hover{
  color: #05229E;
}

.job{
  padding:10px 20px;
  margin-bottom: 5px;
  border-radius: 25px;
  background-color: gray;
}

.c1 {
  padding:20px;
  background-color: red;
  border-radius: 25px;
}
